.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input, .textarea, .select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .selectedItemsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .selectedItem {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .selectedItem button {
    margin-left: 10px;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
  }
  
  .select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #218838;
  }
  