# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env

# Database
*.sqlite3

# Others
.DS_Store
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.sql
